{% macro task_state(core, alias, state, labeling) -%}
    <div class='task-label'>
        {{- "" -}}
        <a href='{{ url_for("report", alias=alias) }}'>{{ labeling[alias] }}</a>
        {%- if state.phony -%}
        <span class='phony' title='This task does nothing and will not be executed'></span>
        {%- endif -%}
        {%- if state.stale -%}
        <span class='stale' title='No agents are currently scheduling this task'></span>
        {%- endif -%}
    </div>
    <div class='task-name'>{{ state.name }}</div>
    <div class='task-statuses'>
        {%- if state.completed -%}
            <div class='task-status completed'{% if state.span %} title='{{ state.span[0]|formatdatetime }} &mdash; {{ state.span[1]|formatdatetime }}'{% endif %}>completed{% if state.span %} in {{ (state.span[1] - state.span[0])|formattimedelta }}{% endif %}</div>
        {%- endif %}
        {%- if state.failures -%}
            <div class='task-status failed' title='at {{ state.failures.values()|max|formatdatetime }}'>failed {{ (core.timestamp - state.failures.values()|max)|formattimedelta }} ago</div>
        {%- endif -%}
        {%- if state.runs -%}
            <div class='task-status running' title='since {{ state.runs.values()|min|formatdatetime }}'>running for {{ (core.timestamp - state.runs.values()|min)|formattimedelta }}</div>
        {%- endif -%}
    </div>
{%- endmacro %}
