body {
    background-color: #FFFFFF;
    color: #000000;
    font-family: "Droid Sans Mono", "Lucida Console", Monaco, monospace;
    font-size: 100%;
    margin: 0;
}

a, a:active, a:hover, a:visited {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style-position: outside;
    list-style-type: none;
    margin: 0 0 0 1em;
    padding: 0;
}

li::before {
    content: "\232A";
    display: inline-block;
    margin-right: -1em;
    position: relative;
    right: 1em;
    vertical-align: top;
    width: 1em;
}

.header {
    background-color: #444444;
    color: #FFFFFF;
    padding: 0.75em 1.5em;
}

.pinned {
    color: #444444;
    font-size: 2em;
    left: 50%;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
}

.block {
    margin: 1.5em;
}

.task-label {
    font-size: 1.25em;
    margin-bottom: 0.25em;
}

.phony::after {
    color: #F25E04;
    content: "phony";
    font-size: 0.75em;
    line-height: 0;
    margin-left: 0.5em;
    vertical-align: super;
}

.stale::after {
    color: #CCCCCC;
    content: "stale";
    font-size: 0.75em;
    line-height: 0;
    margin-left: 0.5em;
    vertical-align: super;
}

.task-name {
    color: #AAAAAA;
    font-size: 0.8em;
}

.task-statuses {
    font-size: 0.9em;
    margin-top: 0.25em;
}

.task-status {
    display: inline-block;
    margin-right: 1.5em;
    margin-top: 0.25em;
}

.completed {
    color: #6EA400;
}

.failed {
    color: #EC083C;
}

.running {
    color: #007CBE;
}

.block-widget {
    display: inline-block;
    margin-left: 1.5em;
    margin-top: 1.5em;
    vertical-align: top;
}

.block-widget-head {
    border-top: 0.05em solid;
    padding: 0.5em;
}

.block-widget-body {
    padding: 0 0.5em;
}

.failures {
    color: #EC093C;
}

.runs {
    color: #007CBE;
}

.dependencies {
    color: #AAAAAA;
}

.satisfied {
    text-decoration: line-through;
}

.logs {
    color: #AAAAAA;
}

.log {
    color: #AAAAAA;
    border-left: 0.05em solid #AAAAAA;
    margin: 0.5em;
    padding-left: 0.5em;
}

.log a {
    color: #F25E04;
    text-decoration: underline;
}

.log-message {
    white-space: pre;
}

.footer {
    margin: 0.75em;
}

.action {
    border: 0.05em solid #CCCCCC;
    color: #444444;
    display: inline-block;
    margin: 0.75em;
    padding: 0.5em 1em;
}
